In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [2]:
df = pd.read_csv('../data/raw/data.csv', encoding='latin1')
print(f"Dataset Shape: {df.shape}")
df.head(10)

Dataset Shape: (541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

In [4]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['InvoiceDate'].min(), df['InvoiceDate'].max()

(Timestamp('2010-12-01 08:26:00'), Timestamp('2011-12-09 12:50:00'))

In [5]:
df['CustomerID'].nunique()

4372

In [6]:
df['StockCode'].nunique()

4070

In [7]:
df['Country'].nunique()

38

In [8]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [9]:
(df['CustomerID'].isnull().sum() / len(df)) * 100

24.926694334288598

In [19]:
df.duplicated().sum()

5268

In [10]:
df['InvoiceNo'].duplicated().sum()

516009

In [11]:
df['Quantity'].describe()

count    541909.000000
mean          9.552250
std         218.081158
min      -80995.000000
25%           1.000000
50%           3.000000
75%          10.000000
max       80995.000000
Name: Quantity, dtype: float64

In [12]:
negative_qty = df[df['Quantity'] < 0]
negative_qty.shape

(10624, 8)

In [13]:
df['UnitPrice'].describe()

count    541909.000000
mean          4.611114
std          96.759853
min      -11062.060000
25%           1.250000
50%           2.080000
75%           4.130000
max       38970.000000
Name: UnitPrice, dtype: float64

In [14]:
df['InvoiceNo'].astype(str).str.startswith('C').sum()

9288

In [15]:
df[df['UnitPrice'] <= 0].shape

(2517, 8)

In [16]:
df[df['Quantity'] > 1000].shape

(116, 8)

In [18]:
import json

data_quality_summary = {
    "total_rows": int(len(df)),
    "total_columns": int(len(df.columns)),
    "missing_values": {k: int(v) for k, v in df.isnull().sum().to_dict().items()},
    "duplicate_rows": int(df.duplicated().sum()),
    "date_range": {
        "start": str(df["InvoiceDate"].min()),
        "end": str(df["InvoiceDate"].max())
    },
    "negative_quantities": int((df["Quantity"] < 0).sum()),
    "cancelled_invoices": int(df["InvoiceNo"].str.startswith("C").sum()),
    "missing_customer_ids": int(df["CustomerID"].isnull().sum()),
    "missing_customer_ids_percentage": round(
        df["CustomerID"].isnull().sum() / len(df) * 100, 2
    )
}

with open("../data/raw/data_quality_summary.json", "w") as f:
    json.dump(data_quality_summary, f, indent=4)

print("data_quality_summary.json saved successfully")

data_quality_summary.json saved successfully